In [748]:
# data handling
import pandas as pd
import numpy as np
import json
import geopandas as gpd
import re

# map vis
import folium
from folium import plugins

data1 = pd.read_csv("소득반영최종.csv").drop(columns='Unnamed: 0')
data1 = data1[data1.year == 2016]

In [749]:
geodf = gpd.read_file('HangJeongDong_ver20160201geojson.json')

In [750]:
geodf=geodf.dropna()

In [751]:
geodf["adm_nm"]=geodf.adm_nm[geodf.adm_nm.str.contains(pat = '서울특별시')]

In [752]:
geodf=geodf.dropna()

In [753]:
geodf

,adm_cd,adm_nm,geometry
0,1101053,서울특별시 종로구 사직동,"POLYGON ((126.97689 37.57565, 126.97703 37.569..."
1,1101054,서울특별시 종로구 삼청동,"POLYGON ((126.98269 37.59507, 126.98337 37.594..."
2,1101055,서울특별시 종로구 부암동,"POLYGON ((126.97585 37.59656, 126.97359 37.593..."
3,1101056,서울특별시 종로구 평창동,"POLYGON ((126.98014 37.62835, 126.98013 37.628..."
4,1101057,서울특별시 종로구 무악동,"POLYGON ((126.96067 37.58080, 126.96281 37.579..."
...,...,...,...
423,1125074,서울특별시 강동구 길동,"POLYGON ((127.14857 37.54578, 127.14871 37.545..."
1190,1124054,서울특별시 송파구 거여2동,"POLYGON ((127.14897 37.49628, 127.15032 37.495..."
3467,1124055,서울특별시 송파구 마천1동,"POLYGON ((127.16010 37.49716, 127.16005 37.494..."
3468,1124081,서울특별시 송파구 장지동,"POLYGON ((127.13667 37.48915, 127.13535 37.481..."
3493,1124082,서울특별시 송파구 위례동,"POLYGON ((127.14149 37.49168, 127.14183 37.491..."

In [754]:
geodf = geodf.astype({"adm_cd":"int"})
codes= pd.read_excel("한국행정구역분류_2016.07.01기준.xls", header=2)
codes

,Unnamed: 0,대분류,시도,중분류,시군구,소분류,읍면동,영문 표기,한자 표기
0,NaN,11.0,서울특별시,NaN,NaN,NaN,NaN,Seoul,서울特別市
1,NaN,11.0,서울특별시,11010.0,종로구,NaN,NaN,Jongno-gu,鍾路區
2,NaN,11.0,서울특별시,11010.0,종로구,1101053.0,사직동,Sajik-dong,社稷洞
3,NaN,11.0,서울특별시,11010.0,종로구,1101054.0,삼청동,Samcheong-dong,三淸洞
4,NaN,11.0,서울특별시,11010.0,종로구,1101055.0,부암동,Buam-dong,付岩洞
...,...,...,...,...,...,...,...,...,...
3795,NaN,39.0,제주특별자치도,39020.0,서귀포시,3902058.0,서홍동,Seohong-dong,西烘洞
3796,NaN,39.0,제주특별자치도,39020.0,서귀포시,3902059.0,대륜동,Daeryun-dong,大倫洞
3797,NaN,39.0,제주특별자치도,39020.0,서귀포시,3902060.0,대천동,Daecheon-dong,大川洞
3798,NaN,39.0,제주특별자치도,39020.0,서귀포시,3902061.0,중문동,Jungmun-dong,中文洞
3799,NaN,39.0,제주특별자치도,39020.0,서귀포시,3902062.0,예래동,Yerae-dong,猊來洞

In [755]:
codes=codes.iloc[2:450, 4:7]
codes

     시군구        소분류   읍면동
2    종로구  1101053.0   사직동
3    종로구  1101054.0   삼청동
4    종로구  1101055.0   부암동
5    종로구  1101056.0   평창동
6    종로구  1101057.0   무악동
..   ...        ...   ...
445  강동구  1125070.0  둔촌1동
446  강동구  1125071.0  둔촌2동
447  강동구  1125072.0  암사1동
448  강동구  1125073.0  천호2동
449  강동구  1125074.0    길동

[448 rows x 3 columns]

In [756]:
codes=codes.dropna()

In [757]:
codes

     시군구        소분류   읍면동
2    종로구  1101053.0   사직동
3    종로구  1101054.0   삼청동
4    종로구  1101055.0   부암동
5    종로구  1101056.0   평창동
6    종로구  1101057.0   무악동
..   ...        ...   ...
445  강동구  1125070.0  둔촌1동
446  강동구  1125071.0  둔촌2동
447  강동구  1125072.0  암사1동
448  강동구  1125073.0  천호2동
449  강동구  1125074.0    길동

[424 rows x 3 columns]

In [758]:
codes=codes.astype({"소분류":"int"})

In [759]:
codes

     시군구      소분류   읍면동
2    종로구  1101053   사직동
3    종로구  1101054   삼청동
4    종로구  1101055   부암동
5    종로구  1101056   평창동
6    종로구  1101057   무악동
..   ...      ...   ...
445  강동구  1125070  둔촌1동
446  강동구  1125071  둔촌2동
447  강동구  1125072  암사1동
448  강동구  1125073  천호2동
449  강동구  1125074    길동

[424 rows x 3 columns]

In [760]:
codes=codes.rename(columns=({"소분류":"읍면동코드"}))

In [761]:
codes=codes.rename(columns=({"읍면동":"읍면동명"}))

In [762]:
codes=codes.rename(columns=({"시군구":"자치구"}))

In [763]:
codes

     자치구    읍면동코드  읍면동명
2    종로구  1101053   사직동
3    종로구  1101054   삼청동
4    종로구  1101055   부암동
5    종로구  1101056   평창동
6    종로구  1101057   무악동
..   ...      ...   ...
445  강동구  1125070  둔촌1동
446  강동구  1125071  둔촌2동
447  강동구  1125072  암사1동
448  강동구  1125073  천호2동
449  강동구  1125074    길동

[424 rows x 3 columns]

In [764]:
geodf=geodf.astype({"adm_cd":"int"})
geodf

,adm_cd,adm_nm,geometry
0,1101053,서울특별시 종로구 사직동,"POLYGON ((126.97689 37.57565, 126.97703 37.569..."
1,1101054,서울특별시 종로구 삼청동,"POLYGON ((126.98269 37.59507, 126.98337 37.594..."
2,1101055,서울특별시 종로구 부암동,"POLYGON ((126.97585 37.59656, 126.97359 37.593..."
3,1101056,서울특별시 종로구 평창동,"POLYGON ((126.98014 37.62835, 126.98013 37.628..."
4,1101057,서울특별시 종로구 무악동,"POLYGON ((126.96067 37.58080, 126.96281 37.579..."
...,...,...,...
423,1125074,서울특별시 강동구 길동,"POLYGON ((127.14857 37.54578, 127.14871 37.545..."
1190,1124054,서울특별시 송파구 거여2동,"POLYGON ((127.14897 37.49628, 127.15032 37.495..."
3467,1124055,서울특별시 송파구 마천1동,"POLYGON ((127.16010 37.49716, 127.16005 37.494..."
3468,1124081,서울특별시 송파구 장지동,"POLYGON ((127.13667 37.48915, 127.13535 37.481..."
3493,1124082,서울특별시 송파구 위례동,"POLYGON ((127.14149 37.49168, 127.14183 37.491..."

In [765]:
geodf=geodf[geodf.adm_cd.isin(codes.읍면동코드)]

In [766]:
geodf

,adm_cd,adm_nm,geometry
0,1101053,서울특별시 종로구 사직동,"POLYGON ((126.97689 37.57565, 126.97703 37.569..."
1,1101054,서울특별시 종로구 삼청동,"POLYGON ((126.98269 37.59507, 126.98337 37.594..."
2,1101055,서울특별시 종로구 부암동,"POLYGON ((126.97585 37.59656, 126.97359 37.593..."
3,1101056,서울특별시 종로구 평창동,"POLYGON ((126.98014 37.62835, 126.98013 37.628..."
4,1101057,서울특별시 종로구 무악동,"POLYGON ((126.96067 37.58080, 126.96281 37.579..."
...,...,...,...
423,1125074,서울특별시 강동구 길동,"POLYGON ((127.14857 37.54578, 127.14871 37.545..."
1190,1124054,서울특별시 송파구 거여2동,"POLYGON ((127.14897 37.49628, 127.15032 37.495..."
3467,1124055,서울특별시 송파구 마천1동,"POLYGON ((127.16010 37.49716, 127.16005 37.494..."
3468,1124081,서울특별시 송파구 장지동,"POLYGON ((127.13667 37.48915, 127.13535 37.481..."
3493,1124082,서울특별시 송파구 위례동,"POLYGON ((127.14149 37.49168, 127.14183 37.491..."

In [767]:
geodf=geodf.rename(columns={'adm_cd':'읍면동코드'})

In [768]:
geodf=geodf.reset_index().drop("index", axis=1)

In [769]:
geodf

,읍면동코드,adm_nm,geometry
0,1101053,서울특별시 종로구 사직동,"POLYGON ((126.97689 37.57565, 126.97703 37.569..."
1,1101054,서울특별시 종로구 삼청동,"POLYGON ((126.98269 37.59507, 126.98337 37.594..."
2,1101055,서울특별시 종로구 부암동,"POLYGON ((126.97585 37.59656, 126.97359 37.593..."
3,1101056,서울특별시 종로구 평창동,"POLYGON ((126.98014 37.62835, 126.98013 37.628..."
4,1101057,서울특별시 종로구 무악동,"POLYGON ((126.96067 37.58080, 126.96281 37.579..."
...,...,...,...
419,1125074,서울특별시 강동구 길동,"POLYGON ((127.14857 37.54578, 127.14871 37.545..."
420,1124054,서울특별시 송파구 거여2동,"POLYGON ((127.14897 37.49628, 127.15032 37.495..."
421,1124055,서울특별시 송파구 마천1동,"POLYGON ((127.16010 37.49716, 127.16005 37.494..."
422,1124081,서울특별시 송파구 장지동,"POLYGON ((127.13667 37.48915, 127.13535 37.481..."
423,1124082,서울특별시 송파구 위례동,"POLYGON ((127.14149 37.49168, 127.14183 37.491..."

In [770]:
codes=codes.reset_index().drop("index", axis=1)

In [771]:
codes

     자치구    읍면동코드  읍면동명
0    종로구  1101053   사직동
1    종로구  1101054   삼청동
2    종로구  1101055   부암동
3    종로구  1101056   평창동
4    종로구  1101057   무악동
..   ...      ...   ...
419  강동구  1125070  둔촌1동
420  강동구  1125071  둔촌2동
421  강동구  1125072  암사1동
422  강동구  1125073  천호2동
423  강동구  1125074    길동

[424 rows x 3 columns]

In [772]:
len(set(geodf.읍면동코드) & set(codes.읍면동코드))

424

In [773]:
data= pd.merge(geodf, codes, how="left")
data

,읍면동코드,adm_nm,geometry,자치구,읍면동명
0,1101053,서울특별시 종로구 사직동,"POLYGON ((126.97689 37.57565, 126.97703 37.569...",종로구,사직동
1,1101054,서울특별시 종로구 삼청동,"POLYGON ((126.98269 37.59507, 126.98337 37.594...",종로구,삼청동
2,1101055,서울특별시 종로구 부암동,"POLYGON ((126.97585 37.59656, 126.97359 37.593...",종로구,부암동
3,1101056,서울특별시 종로구 평창동,"POLYGON ((126.98014 37.62835, 126.98013 37.628...",종로구,평창동
4,1101057,서울특별시 종로구 무악동,"POLYGON ((126.96067 37.58080, 126.96281 37.579...",종로구,무악동
...,...,...,...,...,...
419,1125074,서울특별시 강동구 길동,"POLYGON ((127.14857 37.54578, 127.14871 37.545...",강동구,길동
420,1124054,서울특별시 송파구 거여2동,"POLYGON ((127.14897 37.49628, 127.15032 37.495...",송파구,거여2동
421,1124055,서울특별시 송파구 마천1동,"POLYGON ((127.16010 37.49716, 127.16005 37.494...",송파구,마천1동
422,1124081,서울특별시 송파구 장지동,"POLYGON ((127.13667 37.48915, 127.13535 37.481...",송파구,장지동
423,1124082,서울특별시 송파구 위례동,"POLYGON ((127.14149 37.49168, 127.14183 37.491...",송파구,위례동

In [774]:
data=data.drop(["adm_nm", "geometry"], axis=1)
data

       읍면동코드  자치구  읍면동명
0    1101053  종로구   사직동
1    1101054  종로구   삼청동
2    1101055  종로구   부암동
3    1101056  종로구   평창동
4    1101057  종로구   무악동
..       ...  ...   ...
419  1125074  강동구    길동
420  1124054  송파구  거여2동
421  1124055  송파구  마천1동
422  1124081  송파구   장지동
423  1124082  송파구   위례동

[424 rows x 3 columns]

In [775]:
data1 = data1[["자치구",'읍면동명','더불어민주당']]
data1

     자치구  읍면동명  더불어민주당
0    강남구   신사동    2817
1    관악구   신사동    3727
2    강남구  논현1동    4769
3    강남구  논현2동    4017
4    강남구  압구정동    3539
..   ...   ...     ...
419  중랑구   묵1동    7291
420  중랑구   묵2동    3888
421  중랑구  망우본동    5647
422  중랑구  신내1동    8803
423  중랑구  신내2동    5982

[424 rows x 3 columns]

In [776]:
data["읍면동명"]=data.읍면동명.apply(lambda x : re.sub("·", ".", x))

In [777]:
data["읍면동명"]=data.읍면동명.apply(lambda x : re.sub("종로5.6가동", "종로5·6가동", x))

In [779]:
data1[data1.자치구=="중구"]

    자치구     읍면동명  더불어민주당
376  중구      응봉동    3483
377  중구   성수1가1동    3302
378  중구   성수1가2동    4050
379  중구   성수2가1동    3274
380  중구   성수2가3동    2384
381  중구   왕십리도선동    4350
382  중구    왕십리2동    3536
383  중구     행당1동    3244
384  중구     행당2동    6198
385  중구      마장동    5064
386  중구      사근동    2810
387  중구      송정동    2159
388  중구      용답동    3190
389  중구      소공동     158
390  중구      회현동     385
391  중구       명동     303
392  중구       필동     538
393  중구      장충동     732
394  중구      광희동     398
395  중구     을지로동     138
396  중구      신당동     688
397  중구      다산동    1522
398  중구      약수동    2009
399  중구      청구동    1774
400  중구     신당5동     891
401  중구      동화동    1130
402  중구      황학동    1257
403  중구      중림동     992
404  중구    금호1가동    1722
405  중구  금호2.3가동    2550
406  중구    금호4가동    1842
407  중구      옥수동    2936

In [791]:
data[data.자치구=="성동구"]=data[data.자치구=="성동구"].replace("성동구", "중구")

In [793]:
data[data.자치구=="중구"]

      읍면동코드 자치구     읍면동명
17  1102052  중구      소공동
18  1102054  중구      회현동
19  1102055  중구       명동
20  1102057  중구       필동
21  1102058  중구      장충동
22  1102059  중구      광희동
23  1102060  중구     을지로동
24  1102065  중구     신당5동
25  1102067  중구      황학동
26  1102068  중구      중림동
27  1102069  중구      신당동
28  1102070  중구      다산동
29  1102071  중구      약수동
30  1102072  중구      청구동
31  1102073  중구      동화동
48  1104052  중구    왕십리2동
49  1104054  중구      마장동
50  1104055  중구      사근동
51  1104056  중구     행당1동
52  1104057  중구     행당2동
53  1104058  중구      응봉동
54  1104059  중구    금호1가동
55  1104062  중구    금호4가동
56  1104065  중구   성수1가1동
57  1104066  중구   성수1가2동
58  1104067  중구   성수2가1동
59  1104068  중구   성수2가3동
60  1104069  중구      송정동
61  1104070  중구      용답동
62  1104071  중구   왕십리도선동
63  1104072  중구  금호2.3가동
64  1104073  중구      옥수동

In [731]:
data1[data1.읍면동명.isin(data.읍면동명)]

     자치구  읍면동명  더불어민주당
0    강남구   신사동    2817
1    관악구   신사동    3727
2    강남구  논현1동    4769
3    강남구  논현2동    4017
4    강남구  압구정동    3539
..   ...   ...     ...
419  중랑구   묵1동    7291
420  중랑구   묵2동    3888
421  중랑구  망우본동    5647
422  중랑구  신내1동    8803
423  중랑구  신내2동    5982

[424 rows x 3 columns]

In [794]:
data=pd.merge(data1, data, how="left")

In [820]:
data=data.astype({'읍면동코드':'int'})
data

     자치구  읍면동명  더불어민주당    읍면동코드
0    강남구   신사동    2817  1123051
1    관악구   신사동    3727  1121068
2    강남구  논현1동    4769  1123052
3    강남구  논현2동    4017  1123053
4    강남구  압구정동    3539  1123077
..   ...   ...     ...      ...
419  중랑구   묵1동    7291  1107064
420  중랑구   묵2동    3888  1107065
421  중랑구  망우본동    5647  1107073
422  중랑구  신내1동    8803  1107069
423  중랑구  신내2동    5982  1107070

[424 rows x 4 columns]

In [823]:
tmp = pd.merge(geodf, data, how="left")
tmp

,읍면동코드,adm_nm,geometry,자치구,읍면동명,더불어민주당
0,1101053,서울특별시 종로구 사직동,"POLYGON ((126.97689 37.57565, 126.97703 37.569...",종로구,사직동,2383
1,1101054,서울특별시 종로구 삼청동,"POLYGON ((126.98269 37.59507, 126.98337 37.594...",종로구,삼청동,707
2,1101055,서울특별시 종로구 부암동,"POLYGON ((126.97585 37.59656, 126.97359 37.593...",종로구,부암동,2806
3,1101056,서울특별시 종로구 평창동,"POLYGON ((126.98014 37.62835, 126.98013 37.628...",종로구,평창동,4571
4,1101057,서울특별시 종로구 무악동,"POLYGON ((126.96067 37.58080, 126.96281 37.579...",종로구,무악동,2241
...,...,...,...,...,...,...
419,1125074,서울특별시 강동구 길동,"POLYGON ((127.14857 37.54578, 127.14871 37.545...",강동구,길동,9524
420,1124054,서울특별시 송파구 거여2동,"POLYGON ((127.14897 37.49628, 127.15032 37.495...",송파구,거여2동,4721
421,1124055,서울특별시 송파구 마천1동,"POLYGON ((127.16010 37.49716, 127.16005 37.494...",송파구,마천1동,4367
422,1124081,서울특별시 송파구 장지동,"POLYGON ((127.13667 37.48915, 127.13535 37.481...",송파구,장지동,7704
423,1124082,서울특별시 송파구 위례동,"POLYGON ((127.14149 37.49168, 127.14183 37.491...",송파구,위례동,3155

In [824]:
tmp=tmp.drop("adm_nm", axis=1)

In [831]:
data=pd.merge(tmp, data, how="left")

In [850]:
tmp=tmp.drop("자치구", axis=1)

In [856]:
tmp["읍면동명칭"]=tmp["읍면동명"]

In [859]:
tmp=tmp.set_index("읍면동명칭")

In [860]:
tmp

,읍면동코드,geometry,읍면동명,더불어민주당
읍면동명칭,,,,
사직동,1101053,"POLYGON ((126.97689 37.57565, 126.97703 37.569...",사직동,2383
삼청동,1101054,"POLYGON ((126.98269 37.59507, 126.98337 37.594...",삼청동,707
부암동,1101055,"POLYGON ((126.97585 37.59656, 126.97359 37.593...",부암동,2806
평창동,1101056,"POLYGON ((126.98014 37.62835, 126.98013 37.628...",평창동,4571
무악동,1101057,"POLYGON ((126.96067 37.58080, 126.96281 37.579...",무악동,2241
...,...,...,...,...
길동,1125074,"POLYGON ((127.14857 37.54578, 127.14871 37.545...",길동,9524
거여2동,1124054,"POLYGON ((127.14897 37.49628, 127.15032 37.495...",거여2동,4721
마천1동,1124055,"POLYGON ((127.16010 37.49716, 127.16005 37.494...",마천1동,4367
장지동,1124081,"POLYGON ((127.13667 37.48915, 127.13535 37.481...",장지동,7704
위례동,1124082,"POLYGON ((127.14149 37.49168, 127.14183 37.491...",위례동,3155

In [852]:
data=data.drop("자치구", axis=1)

In [861]:
data

       읍면동코드                                           geometry  읍면동명  더불어민주당
0    1101053  POLYGON ((126.97689 37.57565, 126.97703 37.569...   사직동    2383
1    1101054  POLYGON ((126.98269 37.59507, 126.98337 37.594...   삼청동     707
2    1101055  POLYGON ((126.97585 37.59656, 126.97359 37.593...   부암동    2806
3    1101056  POLYGON ((126.98014 37.62835, 126.98013 37.628...   평창동    4571
4    1101057  POLYGON ((126.96067 37.58080, 126.96281 37.579...   무악동    2241
..       ...                                                ...   ...     ...
419  1125074  POLYGON ((127.14857 37.54578, 127.14871 37.545...    길동    9524
420  1124054  POLYGON ((127.14897 37.49628, 127.15032 37.495...  거여2동    4721
421  1124055  POLYGON ((127.16010 37.49716, 127.16005 37.494...  마천1동    4367
422  1124081  POLYGON ((127.13667 37.48915, 127.13535 37.481...   장지동    7704
423  1124082  POLYGON ((127.14149 37.49168, 127.14183 37.491...   위례동    3155

[424 rows x 4 columns]

In [864]:
geojson = json.loads(tmp.to_json())

googlemap = folium.Map(location=[37.5502, 126.982], zoom_start=10.5)

choropleth = folium.Choropleth(
    geojson,
    data=data,
    key_on='feature.id',
    columns=['읍면동명', '더불어민주당'],
    fill_color='RdYlGn',
    fill_opacity=0.5).add_to(googlemap)

choropleth.geojson.add_child(
    folium.features.GeoJsonTooltip(['읍면동명','더불어민주당'])
)

In [68]:
data[data.읍면동명=='신사동']

  읍면동명  더불어민주당    읍면동코드
0  신사동    2817  1121068
1  신사동    3727  1123051

In [865]:
googlemap.save("seoul_map.html")